@model IEnumerable<Resolve.Models.CaseAudit>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Case Audits</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">New Audit</a>
</p>
<table id="dt_filter_select_general" class="table table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuditTimestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditLog)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Case)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalUser)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AuditTimestamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuditLog)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Case.CaseCID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocalUser.LocalUserID)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CaseAuditID">Details</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th scope="col">Timestamp</th>
            <th scope="col">Audit Log</th>
            <th scope="col">CaseID</th>
            <th scope="col">User</th>
        </tr>
    </tfoot>
</table>
