@model IEnumerable<Resolve.Models.LocalGroup>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Local Groups</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">New Local Group</a>
</p>
<table id="dt_filter_select_general" class="table table-sm">
    <thead>
        <tr>
            <th scope="col">Azure Group ID</th>
            <th scope="col">Group Name</th>
            <th scope="col">Group Description</th>
            <th scope="col">Default Approver</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LocalGroupID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocalUser.LocalUserID)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.LocalGroupID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.LocalGroupID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.LocalGroupID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th scope="col">Azure Group ID</th>
            <th scope="col">Group Name</th>
            <th scope="col">Group Description</th>
            <th scope="col">Default Approver</th>            
        </tr>
    </tfoot>
</table>
