@model Resolve.Models.LocalUser

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User Details</h1>
<hr />
<div>
    <h4>LocalUser</h4>
    <dl class="row">
        <dt class="col-sm-2">
            UW NetID
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LocalUserID)
        </dd>
    </dl>
    <hr />
    <h4>Email Preferences</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailPreference.CaseCreation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailPreference.CaseCreation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailPreference.CaseAssignment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailPreference.CaseAssignment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailPreference.CommentCreation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailPreference.CommentCreation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailPreference.AttachmentCreation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailPreference.AttachmentCreation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailPreference.CaseProcessed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailPreference.CaseProcessed)
        </dd>
    </dl>
    <hr />
    <h4>Homepage Default Style</h4>
    <dl class="row">
        <dt class="col-sm-5">
            Show Cases Created by User
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.EmailPreference.CasesCreatedByUser)
        </dd>
        <dt class="col-sm-5">
            Show Cases Assigned to User
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.EmailPreference.CasesAssignedToUser)
        </dd>
        <dt class="col-sm-5">
            Show Cases Assigned to User's Groups
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.EmailPreference.CasesAssignedToUsersGroups)
        </dd>        
    </dl>
</div>
