@model IEnumerable<Resolve.Models.CaseTypeGroup>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CaseType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CaseType.CaseTypeTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalGroup.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { CaseTypeid=item.CaseTypeID, LocalGroupid=item.LocalGroupID }) |
                @Html.ActionLink("Details", "Details", new { CaseTypeid=item.CaseTypeID, LocalGroupid=item.LocalGroupID }) |
                @Html.ActionLink("Delete", "Delete", new { CaseTypeid=item.CaseTypeID, LocalGroupid=item.LocalGroupID })
            </td>
        </tr>
}
    </tbody>
</table>
