@model IEnumerable<Resolve.Models.CaseComment>

@{
    ViewData["Title"] = "Index";
}

<h1>Comments</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">New Comment</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentTimestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Case)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentTimestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Case.CaseID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalUser.LocalUserID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CaseCommentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CaseCommentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CaseCommentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
