@model IEnumerable<Resolve.Models.GroupAssignment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Group Assignments</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">New Group Assignment</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Case)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalGroup)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Case.CaseID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalGroup.LocalGroupID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
