@model Resolve.Models.LocalUser
@{
    ViewData["Title"] = "Past";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Past Cases Created By You</h4>
<br />

<table id="dt_filter_select_general" class="table table-hover table-sm">
    <thead>
        <tr>
            <th scope="col" style="width: 20%">Case ID</th>
            <th scope="col" style="width: 10%">Status</th>
            <th scope="col" style="width: 40%">Description</th>
            <th scope="col" style="width: 10%">Created</th>
            <th scope="col" style="width: 20%">Case Type</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Cases)
        {
            string modified_date = item.CaseCreationTimestamp.ToString("yyyyMMddHHmmss");
            string shortDate = item.CaseCreationTimestamp.ToShortDateString();
            string Desc = "";
            if (item.Description != null && item.Description.Length > 50)
            {
                Desc = item.Description.Substring(0, 50);
            }
            else
            if (item.Description == null)
            {
                Desc = "";
            }
            else
            {
                Desc = item.Description;
            }
        <tr onclick="location.href = '@(Url.Action("Details", "Cases", new { id = item.CaseID }))'" style="cursor: pointer;">
            <td>@Html.DisplayFor(modelItem => item.CaseCID)</td>
            <td>@Html.DisplayFor(modelItem => item.CaseStatus)</td>
            <td>@Html.DisplayFor(modelItem => Desc)</td>
            <td><span hidden>@modified_date</span>@Html.DisplayFor(modelItem => shortDate)</td>
            <td>@Html.DisplayFor(modelItem => item.CaseType.CaseTypeTitle)</td>
        </tr>
        }
        @foreach (var item in Model.OnBehalves)
        {
            string modified_date = item.Case.CaseCreationTimestamp.ToString("yyyyMMddHHmmss");
            string shortDate = item.Case.CaseCreationTimestamp.ToShortDateString();
            string Desc = "";
            if (item.Case.Description != null && item.Case.Description.Length > 50)
            {
                Desc = item.Case.Description.Substring(0, 50);
            }
            else
            if (item.Case.Description == null)
            {
                Desc = "";
            }
            else
            {
                Desc = item.Case.Description;
            }
    <tr>
        <td><a asp-controller="Cases" asp-action="Details" asp-route-id="@item.CaseID">@Html.DisplayFor(modelItem => item.Case.CaseCID)</a></td>
        <td>@Html.DisplayFor(modelItem => item.Case.CaseStatus)</td>
        <td>@Html.DisplayFor(modelItem => Desc)</td>
        <td><span hidden>@modified_date</span>@Html.DisplayFor(modelItem => shortDate)</td>
        <td>@Html.DisplayFor(modelItem => item.Case.CaseType.CaseTypeTitle)</td>
    </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th scope="col">Case ID</th>
            <th scope="col">Status</th>
            <th scope="col">Description</th>
            <th scope="col">Created</th>
            <th scope="col">Case Type</th>
        </tr>
    </tfoot>
</table>