@model Resolve.Models.LocalUser

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-6 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="height: 50px;">
                    <h6 class="m-0 font-weight-bold text-primary">Cases Created by You</h6>
                    <div class="dropdown no-arrow">
                        <a class="btn btn-primary btn-sm" asp-action="ByYou">Past Cases</a>
                        <a class="btn btn-primary btn-sm" asp-controller="Cases" asp-action="Create">New Case</a>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area" style="overflow: auto; height: 25vh;">
                        <table class="table table-hover table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Case ID</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Created</th>
                                    <th scope="col">Case Type</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model.Cases)
                                {
                                    string shortDate = item.CaseCreationTimestamp.ToShortDateString();
                                    <tr class='clickable-row' data-href="Cases/Details/@item.CaseID">
                                        <td>@Html.DisplayFor(modelItem => item.CaseCID)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CaseStatus)</td>
                                        <td>@Html.DisplayFor(modelItem => shortDate)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CaseType.CaseTypeTitle)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-6 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="height: 50px;">
                    <h6 class="m-0 font-weight-bold text-primary">Cases Assigned to You</h6>
                    <div class="dropdown no-arrow">
                        <a class="btn btn-primary btn-sm" asp-controller="Home" asp-action="ToYou">Past Cases</a>         
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area" style="overflow: auto; height: 25vh;">
                        <table class="table table-hover table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Case ID</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Created</th>
                                    <th scope="col">Case Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.CasesforApproval)
                                {
                                    <tr class='clickable-row' data-href="Cases/Details/@item.CaseID">
                                        <td>@Html.DisplayFor(modelItem => item.Case.CaseCID)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Case.CaseStatus)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Case.CaseCreationTimestamp)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Case.CaseType.CaseTypeTitle)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
     </div>

    <div class="row">


        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="height: 50px;">
                    <h6 class="m-0 font-weight-bold text-primary">Cases Assigned to Your Groups</h6>                               
                        <div class="dropdown no-arrow">                              
                                <button class="btn-sm btn btn-outline-secondary dropdown-toggle m-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    All Groups
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    @foreach (var item in Model.UserGroups)
                                    {
                                        <a class="dropdown-item btn-sm btn btn-outline-secondary" asp-area="" asp-controller="LocalGroups" asp-action="Index">@item.LocalGroup.GroupName</a>
                                    }
                                </div>
                            <a class="btn btn-primary btn-sm" asp-controller="Home" asp-action="ToYourGroups">Past Cases</a>
                        </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area" style="overflow: auto; height: 25vh;">
                        <table class="table table-hover table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Group</th>
                                    <th scope="col">Case ID</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Created</th>
                                    <th scope="col">Case Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.UserGroups)
                                {
                                    @foreach (var c in item.LocalGroup.GroupCases)
                                    {
                                        <tr class='clickable-row' data-href="Cases/Details/@c.CaseID">
                                            <td>@Html.DisplayFor(modelItem => c.LocalGroup.GroupName)</td>
                                            <td>@Html.DisplayFor(modelItem => c.Case.CaseCID)</td>
                                            <td>@Html.DisplayFor(modelItem => c.Case.CaseStatus)</td>
                                            <td>@Html.DisplayFor(modelItem => c.Case.CaseCreationTimestamp)</td>
                                            <td>@Html.DisplayFor(modelItem => c.Case.CaseType.CaseTypeTitle)</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
                       
    </div>
</div>


