@model Resolve.Models.LocalUser

@{
    ViewData["Title"] = "Home Page";
}


<br>

<div class="container">
    <div class="row">
        <div class="col-lg-6" style="border:1px solid #cecece;">
            <div class="row">
                <div class="col-8">
                    <h4>Cases created by you</h4>
                    <br>
                </div>
                <div class="col-4">
                    <div class="float-right"><a class="btn btn-primary" asp-controller="Cases" asp-action="Create">New Case</a></div>
                </div>
            </div>
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Case ID</th>
                            <th scope="col">Status</th>
                            <th scope="col">Created</th>
                            <th scope="col">Case Type</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.Cases)
                        {
                        <tr class='clickable-row' data-href="Cases/Details/@item.CaseID">
                            <td><a asp-controller="Cases" asp-action="Details" asp-route-id="@item.CaseID">@Html.DisplayFor(modelItem => item.CaseID)</a></td>
                            <td>@Html.DisplayFor(modelItem => item.CaseStatus)</td>
                            <td>@Html.DisplayFor(modelItem => item.CaseCreationTimestamp)</td>
                            <td>@Html.DisplayFor(modelItem => item.CaseType.CaseTypeTitle)</td>
                        </tr>
                        }
                    </tbody>
                </table>          
        </div>
        <div class="col-lg-6" style="border:1px solid #cecece;">
            <h4>Cases assigned to you</h4>
            <br>
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th scope="col">Case ID</th>
                        <th scope="col">Status</th>
                        <th scope="col">Created</th>
                        <th scope="col">Case Type</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CasesforApproval)
                    {
                    <tr class='clickable-row' data-href="Cases/Details/@item.CaseID">
                        <td><a asp-controller="Cases" asp-action="Details" asp-route-id="@item.CaseID">@Html.DisplayFor(modelItem => item.CaseID)</a></td>
                        <td>@Html.DisplayFor(modelItem => item.Case.CaseStatus)</td>
                        <td>@Html.DisplayFor(modelItem => item.Case.CaseCreationTimestamp)</td>
                        <td>@Html.DisplayFor(modelItem => item.Case.CaseType.CaseTypeTitle)</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-12" style="border:1px solid #cecece;">
            <h4>Cases assigned to your groups</h4>
            <br>
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th scope="col">Group</th>
                        <th scope="col">Case ID</th>
                        <th scope="col">Status</th>
                        <th scope="col">Created</th>
                        <th scope="col">Case Type</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UserGroups)
                    {
                        @foreach (var c in item.LocalGroup.GroupCases)
                        {
                    <tr class='clickable-row' data-href="Cases/Details/@c.CaseID">
                        <td>@Html.DisplayFor(modelItem => c.LocalGroup.GroupName)</td>
                        <td><a asp-controller="Cases" asp-action="Details" asp-route-id="@c.CaseID">@Html.DisplayFor(modelItem => c.CaseID)</a></td>
                        <td>@Html.DisplayFor(modelItem => c.Case.CaseStatus)</td>
                        <td>@Html.DisplayFor(modelItem => c.Case.CaseCreationTimestamp)</td>
                        <td>@Html.DisplayFor(modelItem => c.Case.CaseType.CaseTypeTitle)</td>
                    </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>