@model Resolve.Models.LocalUser

@{
    ViewData["Title"] = "Home Page";
    var CasesCreatedByUser = "collapse";
    var CasesAssignedToUser = "collapse";
    var CasesAssignedToUsersGroups = "collapse";
    var sectionone = "fa-plus-circle";
    var sectiontwo = "fa-plus-circle";
    var sectionthree = "fa-plus-circle";
    if (Model.EmailPreference.CasesCreatedByUser == true)
    {
        CasesCreatedByUser = "collapse show";
        sectionone = "fa-minus-circle";
    }
    if (Model.EmailPreference.CasesAssignedToUser == true)
    {
        CasesAssignedToUser = "collapse show";
        sectiontwo = "fa-minus-circle";
    }
    if (Model.EmailPreference.CasesAssignedToUsersGroups == true)
    {
        CasesAssignedToUsersGroups = "collapse show";
        sectionthree = "fa-minus-circle";
    }
}
    <div class="container-fluid">



        <div id="accordion" class="panel-group">
            <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" data-toggle="collapse" data-target="#collapseOne" id="headingOne" style="height: 50px; cursor: pointer;">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <i class="more-less fa @sectionone"></i>
                    </button>
                    @{
                        var cases_count = Model.Cases.Count;
                        if (cases_count == 0)
                        {
                            <h6 class="m-0 font-weight-bold text-primary">Cases Created by You</h6>
                        }
                        else
                        {
                            <h6 class="m-0 font-weight-bold text-primary">Cases Created by You <span class="badge badge-pill badge-danger">@cases_count</span></h6>
                        }
                    }
                    <div class="dropdown no-arrow">                        
                    </div>
                </div>
                <div id="collapseOne" class="@CasesCreatedByUser" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="chart-area" style="overflow: auto; height: 55vh;">
                            <table id="dt-filter-select" class="table table-hover table-sm">
                                <thead>
                                    <tr>
                                        <th class="th-sm" style="width: 20%">Case ID</th>
                                        <th class="th-sm" style="width: 10%">Status</th>
                                        <th class="th-sm" style="width: 40%">Description</th>
                                        <th class="th-sm" style="width: 10%">Created</th>
                                        <th class="th-sm" style="width: 20%">Case Type</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.Cases)
                                    {
                                        string shortDate = item.CaseCreationTimestamp.ToShortDateString();
                                        string Desc = "";
                                        if (item.Description != null)
                                        {
                                            Desc = item.Description.Substring(0, 50);
                                        }
                                        <tr class='clickable-row' data-href="Cases/Details/@item.CaseID">
                                            <td>@Html.DisplayFor(modelItem => item.CaseCID)</td>
                                            <td>@Html.DisplayFor(modelItem => item.CaseStatus)</td>
                                            <td>@Html.DisplayFor(modelItem => Desc)</td>
                                            <td data-toggle="tooltip" title="@item.CaseCreationTimestamp">@Html.DisplayFor(modelItem => shortDate)</td>
                                            <td>@Html.DisplayFor(modelItem => item.CaseType.CaseTypeTitle)</td>
                                        </tr>
                                    }
                                    @foreach (var item in Model.OnBehalves)
                                    {
                                        string shortDate = item.Case.CaseCreationTimestamp.ToShortDateString();
                                        string Desc = "";
                                        if (item.Case.Description != null)
                                        {
                                            Desc = item.Case.Description.Substring(0, 50);
                                        }
                                        <tr class='clickable-row' data-href="Cases/Details/@item.CaseID">
                                            <td>@Html.DisplayFor(modelItem => item.Case.CaseCID)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Case.CaseStatus)</td>
                                            <td>@Html.DisplayFor(modelItem => Desc)</td>
                                            <td data-toggle="tooltip" title="@item.Case.CaseCreationTimestamp">@Html.DisplayFor(modelItem => shortDate)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Case.CaseType.CaseTypeTitle)</td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>
                                            Case ID
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Description
                                        </th>
                                        <th>
                                            Created
                                        </th>
                                        <th>
                                            Case Type
                                        </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" data-toggle="collapse" data-target="#collapseTwo" id="headingTwo" style="height: 50px; cursor: pointer;">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="more-less fa @sectiontwo"></i>
                    </button>
                    @{
                        var cases_forapproval_count = Model.CasesforApproval.Count;
                        if (cases_forapproval_count == 0)
                        {
                            <h6 class="m-0 font-weight-bold text-primary">Cases Assigned to You</h6>
                        }
                        else
                        {
                            <h6 class="m-0 font-weight-bold text-primary">Cases Assigned to You <span class="badge badge-pill badge-danger">@cases_forapproval_count</span></h6>
                        }
                    }                    
                    <div class="dropdown no-arrow">                        
                    </div>
                </div>
                <div id="collapseTwo" class="@CasesAssignedToUser" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div class="chart-area" style="overflow: auto; height: 55vh;">
                            <table id="dt-filter-select2" class="table table-hover table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Case ID</th>
                                        <th>Created By</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Created</th>
                                        <th scope="col">Case Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.CasesforApproval)
                                    {
                                        string shortDate = item.Case.CaseCreationTimestamp.ToShortDateString();
                                        string Desc = "";
                                        if (item.Case.Description != null)
                                        {
                                            Desc = item.Case.Description.Substring(0, 50);
                                        }
                                        <tr class='clickable-row' data-href="Cases/Details/@item.CaseID">
                                            <td>@Html.DisplayFor(modelItem => item.Case.CaseCID)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Case.LocalUser.FirstName) @Html.DisplayFor(modelItem => item.Case.LocalUser.LastName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Case.CaseStatus)</td>
                                            <td>@Html.DisplayFor(modelItem => Desc)</td>
                                            <td data-toggle="tooltip" title="@item.Case.CaseCreationTimestamp">@Html.DisplayFor(modelItem => shortDate)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Case.CaseType.CaseTypeTitle)</td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>
                                            Case ID
                                        </th>
                                        <th>
                                            Created By
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Description
                                        </th>
                                        <th>
                                            Created
                                        </th>
                                        <th>
                                            Case Type
                                        </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" data-toggle="collapse" data-target="#collapseThree" id="headingThree" style="height: 50px; cursor: pointer;">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <i class="more-less fa @sectionthree"></i>
                    </button>
                    @{
                        int group_cases_count = Convert.ToInt32(ViewData["group_case_count"]);                        
                        if (group_cases_count == 0)
                        {
                            <h6 class="m-0 font-weight-bold text-primary">Cases Assigned to Your Groups</h6>
                        }
                        else
                        {
                            <h6 class="m-0 font-weight-bold text-primary">Cases Assigned to Your Groups <span class="badge badge-pill badge-danger">@group_cases_count</span></h6>
                        }
                    }                    
                    <div class="dropdown no-arrow">                        
                    </div>
                </div>
                <div id="collapseThree" class="@CasesAssignedToUsersGroups" aria-labelledby="headingThree" data-parent="#accordion">        
                    <div class="card-body">
                        <div class="chart-area" style="overflow: auto; height: 55vh;">
                            <table id="dt-filter-select3" class="table table-hover table-sm">
                                <thead>
                                    <tr>
                                        <th scope="col">Case ID</th>
                                        <th>Created By</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Created</th>
                                        <th scope="col">Case Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.UserGroups)
                                    {
                                        @foreach (var c in item.LocalGroup.GroupCases)
                                        {
                                            string shortDate = c.Case.CaseCreationTimestamp.ToShortDateString();
                                            string Desc = "";
                                            if (c.Case.Description != null)
                                            {
                                                Desc = c.Case.Description.Substring(0, 50);
                                            }
                                            <tr class='clickable-row' data-href="Cases/Details/@c.CaseID">
                                                <td>@Html.DisplayFor(modelItem => c.Case.CaseCID)</td>
                                                <td>@Html.DisplayFor(modelItem => c.Case.LocalUser.FirstName) @Html.DisplayFor(modelItem => c.Case.LocalUser.LastName)</td>
                                                <td>@Html.DisplayFor(modelItem => c.Case.CaseStatus)</td>
                                                <td>@Html.DisplayFor(modelItem => Desc)</td>
                                                <td data-toggle="tooltip" title="@c.Case.CaseCreationTimestamp">@Html.DisplayFor(modelItem => shortDate)</td>
                                                <td>@Html.DisplayFor(modelItem => c.Case.CaseType.CaseTypeTitle)</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>
                                            Case ID
                                        </th>
                                        <th>
                                            Created By
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Description
                                        </th>
                                        <th>
                                            Created
                                        </th>
                                        <th>
                                            Case Type
                                        </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>