@model IEnumerable<Resolve.Models.Case>
@{
    ViewData["Title"] = "Search Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Search Results</h4>
<br />

<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th scope="col">Case ID</th>
            <th scope="col">Status</th>
            <th scope="col">Created</th>
            <th scope="col">Case Type</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            
            string shortDate = item.CaseCreationTimestamp.ToShortDateString();
            <tr>
                <td><a asp-controller="Cases" asp-action="Details" asp-route-id="@item.CaseID">@Html.DisplayFor(modelItem => item.CaseCID)</a></td>
                <td>@Html.DisplayFor(modelItem => item.CaseStatus)</td>
                <td>@Html.DisplayFor(modelItem => shortDate)</td>
                <td>@Html.DisplayFor(modelItem => item.CaseType.CaseTypeTitle)</td>
            </tr>
        }
        </tbody>
    </table>