@model Resolve.Models.LocalUser
@{
    ViewData["Title"] = "Past";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Past Cases Assigned to you</h4>

<br />

<table id="dt_filter_select_general" class="table table-hover table-sm">
    <thead>
        <tr>
            <th scope="col">Case ID</th>
            <th scope="col">Status</th>
            <th scope="col">Created</th>
            <th scope="col">Case Type</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.CasesforApproval)
        {
            string modified_date = item.Case.CaseCreationTimestamp.ToString("yyyyMMddHHmmss");
            <tr onclick="location.href = '@(Url.Action("Details", "Cases", new { id = item.Case.CaseID }))'" style="cursor: pointer;">
                <td>@Html.DisplayFor(modelItem => item.Case.CaseCID)</td>
                <td>@Html.DisplayFor(modelItem => item.Case.CaseStatus)</td>
                <td><span hidden>@modified_date</span>@Html.DisplayFor(modelItem => item.Case.CaseCreationTimestamp)</td>
                <td>@Html.DisplayFor(modelItem => item.Case.CaseType.CaseTypeTitle)</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th scope="col">Case ID</th>
            <th scope="col">Status</th>
            <th scope="col">Created</th>
            <th scope="col">Case Type</th>
        </tr>
    </tfoot>
</table>