@model IEnumerable<Resolve.Models.Approver>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Approvers</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">New Approver</a>
</p>

Meaning of Approved variable:
0: Pending, 1: Approved, -1: Rejected, 3: Cancelled

<table id="dt_filter_select_general" class="table table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Case)
            </th>
            <th>
                Approver
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Approved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>Approver Group</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Case.CaseCID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocalUser.LocalUserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Approved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order)
                </td>
                <td>@Html.DisplayFor(modelItem => item.LocalGroup.GroupName)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { Caseid=item.CaseID, Userid = item.LocalUserID }) |
                    @Html.ActionLink("Details", "Details", new { Caseid=item.CaseID, Userid = item.LocalUserID }) |
                    @Html.ActionLink("Delete", "Delete", new { Caseid=item.CaseID, Userid = item.LocalUserID })
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th scope="col">CaseID</th>
            <th scope="col">Approver</th>
            <th scope="col">Approved</th>
            <th scope="col">Order</th>
            <th scope="col">Approver Group</th>
        </tr>
    </tfoot>
</table>
