@model Resolve.Models.Case
@using Microsoft.Identity.Web
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Details";

}

@{
    var u_admin = ViewData["is_user_admin"];
    bool user_is_admin = false;
    user_is_admin = Convert.ToBoolean(u_admin);
    //if ((await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded)
    //{
    //    user_is_admin = true;
    //}
}

<div class="container-fluid">
    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="height: 50px;">
                    @{
                        int approved_count = 0;
                        int approved_success_count = 0;
                        int reject_count = 0;
                        int cancel_count = 0;
                        foreach (var item in Model.Approvers)
                        {
                            if (item.Approved == 1)
                            {
                                approved_count = approved_count + 1;
                                approved_success_count = approved_success_count + 1;
                            }
                            else
                                if (item.Approved == -1)
                            {
                                approved_count = approved_count + 1;
                                reject_count = reject_count + 1;
                            }
                            else
                                if (item.Approved == 3)
                            {
                                approved_count = approved_count + 1;
                                cancel_count = cancel_count + 1;
                            }
                        }
                        int total_approvers = Model.Approvers.Count;
                        int approvals_remaining = total_approvers - approved_count;
                        if (approvals_remaining == 0 && reject_count == 0 && cancel_count == 0)
                        {
                            <h6 class="m-0 font-weight-bold text-primary">@Model.CaseCID <span class="badge badge-success">Approved</span></h6>
                        }
                        else
                            if (reject_count != 0)
                        {
                            <h6 class="m-0 font-weight-bold text-primary">@Model.CaseCID <span class="badge badge-danger">Rejected</span></h6>
                        }
                        else
                            if (cancel_count != 0)
                        {
                            <h6 class="m-0 font-weight-bold text-primary">@Model.CaseCID <span class="badge badge-info">Cancelled</span></h6>
                        }
                        else
                        {
                            <h6 class="m-0 font-weight-bold text-primary">@Model.CaseCID <span class="badge badge-warning">@approvals_remaining/@total_approvers Approvals Pending</span></h6>
                        }

                    }

                    @{
                        if (ViewData["Approved"].ToString() == "Success")
                        {
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                The case has been APPROVED successfully!
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                        else
                            if (ViewData["Approved"].ToString() == "RejectSuccess")
                        {
                            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                                The case has been REJECTED successfully!
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                        else
                            if (ViewData["Approved"].ToString() == "Reopened")
                        {
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                The case has been Re-Opened successfully!
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                        else
                            if (ViewData["Approved"].ToString() == "AttachDeleted")
                        {
                            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                                The attachment has been deleted successfully!
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                        else
                            if (ViewData["Approved"].ToString() == "OperationSuccess")
                        {
                            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                                The operation has been completed successfully!
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                        else
                            if (ViewData["Approved"].ToString() == "Failed")
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                The action could not be executed at this time. Please contact administrator!
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                    }
                    <div class="dropdown no-arrow">
                        @{
                            int approved = 2;
                            List<string> approvers = new List<string>();
                            //List<int> approved_all = new List<int>();
                            foreach (var item in Model.Approvers)
                            {
                                approvers.Add(item.LocalUserID);
                                //approved_all.Add(item.Approved);
                                if (item.LocalUserID == User.GetDisplayName())
                                {
                                    approved = item.Approved;
                                }
                            }
                        }
                        @if (approvers.Contains(User.GetDisplayName()))
                        {
                            if (approved == 1 || approved == -1)
                            {
                                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#Reopen">
                                    Reopen
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="Reopen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Reopen Case</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form asp-action="Process">
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <textarea class="form-control" name="FinalComment" rows="3" placeholder="Final Comments..."></textarea>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <input type="hidden" value="@Model.CaseID" name="CaseID" />
                                                    <input type="hidden" value="Reopen" name="ProcessValue" />
                                                    <button class="btn btn-warning" type="submit">Reopen</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            if (approved == 0)
                            {
                                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#Approve">
                                    Approve
                                </button>

                                <div class="modal fade" id="Approve" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Approve Case</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form asp-action="Process">
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <textarea class="form-control" name="FinalComment" rows="3" placeholder="Final Comments..."></textarea>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <input type="hidden" value="@Model.CaseID" name="CaseID" />
                                                    <input type="hidden" value="Approve" name="ProcessValue" />
                                                    <button class="btn btn-success" type="submit">Approve</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#Reject">
                                    Reject
                                </button>
                                <div class="modal fade" id="Reject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Reject Case</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form asp-action="Process">
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <textarea class="form-control" name="FinalComment" rows="3" placeholder="Final Comments..."></textarea>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <input type="hidden" value="@Model.CaseID" name="CaseID" />
                                                    <input type="hidden" value="Reject" name="ProcessValue" />
                                                    <button class="btn btn-danger" type="submit">Reject</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            }
                        }
                        else
                      if (approved == 3)
                        {
                            //Case Cancelled
                        }
                        else
                        {
                            if (approvals_remaining == 0)
                            {
                                <button type="button" class="btn btn-warning btn-sm" disabled data-toggle="tooltip" data-placement="top" title="This section is enabled only for Approvers and Admins">
                                    Reopen
                                </button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-success btn-sm" disabled data-toggle="tooltip" data-placement="top" title="This section is enabled only for Approvers and Admins">
                                    Approve
                                </button>
                                <button type="button" class="btn btn-danger btn-sm" disabled data-toggle="tooltip" data-placement="top" title="This section is enabled only for Approvers and Admins">
                                    Reject
                                </button>
                            }
                        }
                        <button class="btn-sm btn btn-outline-secondary dropdown m-1" type="button" id="SettingsButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-cogs"></i> <i class="fas fa-caret-down"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="SettingsButton" id="SettingsButton">
                            <a class="dropdown-item btn-sm btn btn-outline-secondary" data-toggle="modal" data-target="#AuditLogs">Audit Case</a>
                            <a class="dropdown-item btn-sm btn btn-outline-secondary" data-toggle="modal" data-target="#CancelCase">Cancel Case</a>
                            @if (user_is_admin)
                            {
                                <div class="dropdown-divider"></div>
                                <h6 class="dropdown-header">Admin Actions</h6>
                                <a class="dropdown-item btn-sm btn btn-outline-secondary" data-toggle="modal" data-target="#AdminApprove">Approve for all</a>
                                <a class="dropdown-item btn-sm btn btn-outline-secondary" data-toggle="modal" data-target="#AdminReject">Reject for all</a>
                                <a class="dropdown-item btn-sm btn btn-outline-secondary" data-toggle="modal" data-target="#AdminReopen">Reopen for all</a>
                            }
                        </div>

                        <div class="modal fade" id="AuditLogs" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog mw-100 w-75">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Case Audit Details</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-sm">
                                            <tr>
                                                <th>Timestamp</th>
                                                <th>Audit Log</th>
                                                <th>Action By</th>
                                            </tr>
                                            @foreach (var item in Model.CaseAudits)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.AuditTimestamp)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.AuditLog)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.LocalUserID)
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="CancelCase" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Cancel Case?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form asp-action="CancelCase">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <textarea class="form-control" name="FinalComment" rows="3" placeholder="Reason for cancellation... (Optional)"></textarea>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <input type="hidden" value="@Model.CaseID" name="CaseID" />
                                            <input type="hidden" value="Cancel" name="ProcessValue" />
                                            <button class="btn btn-danger" type="submit">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="AdminApprove" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Approve for all</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form asp-action="AdminProcess">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <textarea class="form-control" name="FinalComment" rows="3" placeholder="Final Comments..."></textarea>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <input type="hidden" value="@Model.CaseID" name="CaseID" />
                                            <input type="hidden" value="Approve" name="ProcessValue" />
                                            <button class="btn btn-success" type="submit">Approve</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="AdminReject" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Reject for all</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form asp-action="AdminProcess">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <textarea class="form-control" name="FinalComment" rows="3" placeholder="Final Comments..."></textarea>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <input type="hidden" value="@Model.CaseID" name="CaseID" />
                                            <input type="hidden" value="Reject" name="ProcessValue" />
                                            <button class="btn btn-danger" type="submit">Reject</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="AdminReopen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Reopen for all</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form asp-action="AdminProcess">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <textarea class="form-control" name="FinalComment" rows="3" placeholder="Final Comments..."></textarea>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <input type="hidden" value="@Model.CaseID" name="CaseID" />
                                            <input type="hidden" value="Reopen" name="ProcessValue" />
                                            <button class="btn btn-warning" type="submit">Reopen</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">


        <div class="col-xl-6 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="height: 50px;">
                    <h6 class="m-0 font-weight-bold text-primary">General Case Details</h6>
                    <div class="dropdown no-arrow">

                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#assignmentModal">
                            Assignments
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="assignmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Assignments</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <nav>
                                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                <a class="nav-item nav-link active" id="nav-approver-tab" data-toggle="tab" href="#nav-approver" role="tab" aria-controls="nav-approver" aria-selected="true">Approvers</a>
                                                <a class="nav-item nav-link" id="nav-group-tab" data-toggle="tab" href="#nav-group" role="tab" aria-controls="nav-group" aria-selected="false">Groups</a>                                                
                                            </div>
                                        </nav>
                                        <div class="tab-content" id="nav-tabContent">
                                            <div class="tab-pane fade show active" id="nav-approver" role="tabpanel" aria-labelledby="nav-approver-tab">
                                                <br /> <h6>Approvers assigned to this case</h6> <br />
                                                <table class="table table-hover table-sm">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Name</th>
                                                            <th scope="col">Status</th>
                                                            <th scope="col">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        @foreach (var item in Model.Approvers)
                                                        {
                                                        <tr>
                                                            <td>@Html.DisplayFor(modelItem => item.LocalUser.FirstName) @Html.DisplayFor(modelItem => item.LocalUser.LastName)</td>
                                                            @{
                                                                if (item.Approved == 0)
                                                                {
                                                                    <td>Pending</td>
                                                                }
                                                                else
                                                                    if (item.Approved == 1)
                                                                {
                                                                    <td>Approved</td>
                                                                }
                                                                else
                                                                    if (item.Approved == -1)
                                                                {
                                                                    <td>Rejected</td>
                                                                }
                                                                else
                                                                    if (item.Approved == 3)
                                                                {
                                                                    <td>Case Cancelled</td>
                                                                }
                                                                else
                                                                {
                                                                    <td>@Html.DisplayFor(modelItem => item.Approved)</td>
                                                                }
                                                            }
                                                            @{
                                                                //If current user is part of the group of which THIS approver is a part of, AND if current user isn't already an assigned approver, then provide option to assign to self
                                                                if (1 == 1)
                                                                {
                                                                    <td><button class="btn btn-sm btn-primary">Assign to Self</button></td>
                                                                }
                                                                else
                                                                {
                                                                    <td>NA</td>
                                                                }
                                                            }
                                                        </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="tab-pane fade" id="nav-group" role="tabpanel" aria-labelledby="nav-group-tab">
                                                <br /> <h6>Groups assigned to this case</h6> <br />
                                                <table class="table table-hover table-sm">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Group Name</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        @foreach (var item in Model.GroupAssignments)
                                                        {
                                                            <tr>
                                                                <td>@Html.DisplayFor(modelItem => item.LocalGroup.GroupName)</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>                                           
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>          
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area" style="overflow: auto; height: 200px;">
                        <dl class="row">
                            <dt class="col-sm-4">
                                Created By
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.LocalUser.FirstName) @Html.DisplayFor(model => model.LocalUser.LastName)
                            </dd>                           
                            @{
                                if (Model.OnBehalfOf == true)
                                {
                                    foreach (var item in Model.OnBehalves)
                                    {
                                        <dt class="col-sm-4">
                                            On Behalf of
                                        </dt>
                                        <dd class="col-sm-8">
                                            @item.LocalUser.FirstName @item.LocalUser.LastName
                                        </dd>
                                    }
                                }
                            }
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.CaseStatus)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.CaseStatus)
                            </dd>
                            <dt class="col-sm-4">
                                Created On
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.CaseCreationTimestamp)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.CaseType)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.CaseType.CaseTypeTitle)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-6 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="height: 50px;">
                    <h6 class="m-0 font-weight-bold text-primary">Comments</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area" style="overflow: auto; height: 122px;">
                        <table class="table table-sm">
                            <tr>
                                <th>Posted By</th>
                                <th>Comment</th>
                                <th>Timestamp</th>
                            </tr>
                            @foreach (var item in Model.CaseComments)
                            {
                                string shortDate = item.CommentTimestamp.ToShortDateString();
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LocalUser.FirstName) @Html.DisplayFor(modelItem => item.LocalUser.LastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Comment)
                                    </td>
                                    <td data-toggle="tooltip" title="@item.CommentTimestamp">
                                        @Html.DisplayFor(modelItem => shortDate)
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
                <div class="card-footer">                    
                    <form name="CommentForm" asp-action="CreateComment" onsubmit="return validateForm()">
                        <input type="hidden" value="@User.Identity.Name" name="LocalUserID" />
                        <input type="hidden" value="@Model.CaseID" name="CaseID" />
                        <div class="input-group mb-3">
                            <input id="CaseComment" name="Comment" type="text" class="form-control input-group-sm" placeholder="Comment..." aria-label="Comment..." aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="submit">Post</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">


        <div class="col-xl-6 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="height: 50px;">
                    <h6 class="m-0 font-weight-bold text-primary">Specific Case Details</h6>
                    <div class="dropdown no-arrow">
                        <a class="btn btn-primary btn-sm" asp-controller="@Model.CaseType.CaseTypeTitle" asp-area="CaseSpecificDetails" asp-action="Edit" asp-route-id="@Model.CaseID">Edit</a>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area" style="overflow: auto; height: 200px;">
                        <partial name="~/Areas/CaseSpecificDetails/Views/@Model.CaseType.CaseTypeTitle/Details.cshtml" />
                    </div>
                </div>
            </div>
        </div>



        <div class="col-xl-6 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="height: 50px;">
                    <h6 class="m-0 font-weight-bold text-primary">Attachments</h6>
                    <div class="dropdown no-arrow">
                        <a class="btn btn-primary btn-sm" asp-controller="CaseAttachments" asp-action="Create" asp-route-id="@Model.CaseID">
                            Create
                        </a>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area" style="overflow: auto; height: 200px;">
                        <table class="table table-sm">
                            <tr>
                                <th scope="col">Creator</th>
                                <th scope="col">Filename</th>
                                <th scope="col">Timestamp</th>
                                <th scope="col">Download</th>
                                <th scope="col">Delete</th>
                            </tr>
                            @foreach (var item in Model.CaseAttachments)
                            {
                                string shortDate = item.AttachmentTimestamp.ToShortDateString();
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LocalUser.FirstName) @Html.DisplayFor(modelItem => item.LocalUser.LastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FileName)                              
                                    </td>
                                    <td data-toggle="tooltip" title="@item.AttachmentTimestamp">
                                        @Html.DisplayFor(modelItem => shortDate)
                                    </td>
                                    <td>        
                                        <a class="dropdown-item" asp-area="" asp-controller="CaseAttachments" asp-action="Download" asp-route-id="@item.CaseAttachmentID"><i class="fa fa-download"></i></a>
                                    </td>
                                    <td>                                        
                                        <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#DelAttachment">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                        <div class="modal fade" id="DelAttachment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Delete Attachment?</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <dl class="row">
                                                            <dt class="col-sm-4">
                                                                @Html.DisplayNameFor(modelItem => item.FileName)
                                                            </dt>
                                                            <dd class="col-sm-8">
                                                                @Html.DisplayFor(modelItem => item.FileName)
                                                            </dd>
                                                            <dt class="col-sm-4">
                                                                Creator
                                                            </dt>
                                                            <dd class="col-sm-8">
                                                                @Html.DisplayFor(modelItem => item.LocalUser.FirstName) @Html.DisplayFor(modelItem => item.LocalUser.LastName)
                                                            </dd>
                                                            <dt class="col-sm-4">
                                                                Created On
                                                            </dt>
                                                            <dd class="col-sm-8">
                                                                @Html.DisplayFor(modelItem => item.AttachmentTimestamp)
                                                            </dd>                                                            
                                                        </dl>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <form asp-controller="CaseAttachments" asp-action="QuickDelete">
                                                            <input type="hidden" value="@Model.CaseID" name="CID" />
                                                            <input type="hidden" value="@item.CaseAttachmentID" name="CAID" />
                                                            @{
                                                                if (User.GetDisplayName() == item.LocalUserID || user_is_admin)
                                                                {
                                                                    <button class="btn btn-danger" type="submit">Delete</button>
                                                                }
                                                                else
                                                                {
                                                                    <label>You do not have permission to delete this attachment!</label>
                                                                }
                                                            }
                                                        </form>
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
