@model Resolve.Models.Case

@{
    ViewData["Title"] = "Details";

}


<br>

<div class="container">
    <div class="row">
        <div class="col-lg-6" style="border:1px solid #cecece;">
            <h4>General Case Details</h4>
            <br>
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.LocalUser)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.LocalUser.FirstName) @Html.DisplayFor(model => model.LocalUser.LastName)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.OnBehalfOf)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.OnBehalfOf)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.CaseStatus)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.CaseStatus)
                </dd>
                <dt class="col-sm-4">
                    Created On
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.CaseCreationTimestamp)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.CaseType)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.CaseType.CaseTypeTitle)
                </dd>
            </dl>
        </div>
        <div class="col-lg-6" style="border:1px solid #cecece;">
            <h4>Comments</h4>
            <br>
            <table class="table">
                <tr>
                    <th>Posted By</th>
                    <th>Comment</th>
                    <th>Timestamp</th>
                </tr>
                @foreach (var item in Model.CaseComments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LocalUser.FirstName) @Html.DisplayFor(modelItem => item.LocalUser.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Comment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CommentTimestamp)
                        </td>
                    </tr>
                }
            </table>

            <form asp-action="CreateComment">
                <input type="hidden" value="@User.Identity.Name" name="LocalUserID" />
                <input type="hidden" value="@Model.CaseID" name="CaseID" />
                <div class="input-group mb-3">
                    <input id="Comment" name="Comment" type="text" class="form-control" placeholder="Comment..." aria-label="Comment..." aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">Post</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-lg-6" style="border:1px solid #cecece;">
            <h4>Specific Case Details</h4>
            <br>
            @{

                if (Model.CaseType.CaseTypeTitle == "SampleCaseType")
                {
                    @foreach (var item in Model.SampleCaseType)
                    {
                        <dl class="row">
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(modelItem => item.CaseDescription)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(modelItem => item.CaseDescription)
                            </dd>
                        </dl>
                    }
                }
                else
                    if (Model.CaseType.CaseTypeTitle == "Sample2")
                {
                    @foreach (var item in Model.Sample2)
                    {
                        <dl class="row">
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(modelItem => item.SampleDescription)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(modelItem => item.SampleDescription)
                            </dd>
                        </dl>
                    }
                }
            }


        </div>
        <div class="col-lg-6" style="border:1px solid #cecece;">
            <div class="row">
                <div class="col-8">
                    <h4>Attachments</h4>
                    <br>
                </div>
                <div class="col-4">
                    <div class="float-right">
                        <a class="btn btn-outline-primary" asp-controller="CaseAttachments" asp-action="Create" asp-route-id="@Model.CaseID">
                        Create
                        </a>
                    </div>
                </div>
            </div>
            <table class="table">
                <tr>
                    <th>Posted By</th>
                    <th>File Name</th>
                    <th>Timestamp</th>
                </tr>
                @foreach (var item in Model.CaseAttachments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LocalUser.FirstName) @Html.DisplayFor(modelItem => item.LocalUser.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FileName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AttachmentTimestamp)
                        </td>
                    </tr>
                }
            </table>            
        </div>

    </div>
    <br />

<div>

    <h4>Case Audit Details</h4>
    <br>
        <table class="table">
            <tr>
                <th>Timestamp</th>
                <th>Audit Log</th>
            </tr>
            @foreach (var item in Model.CaseAudits)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AuditTimestamp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AuditLog)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CaseID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
