@model IEnumerable<Resolve.Models.Case>

@{
    ViewData["Title"] = "Index";
}

<h1>All Cases</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">New Case</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OnBehalfOf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseCreationTimestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OnBehalfOf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseCreationTimestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaseType.CaseTypeID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CaseID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CaseID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CaseID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
