@model Resolve.Models.CaseType

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CaseType</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.CaseTypeTitle)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.CaseTypeTitle)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.LongDescription)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.LongDescription)
        </dd>
        <dt class="col-sm-4">
            Number of Groups Attached
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.GroupNumber)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Hierarchical_Approval)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Hierarchical_Approval)
        </dd>
    </dl>
</div>
<h4>Associated Approver Groups</h4>
<table class="table">
    <tr>
        <th>Group Name</th>
        <th>Default Approver</th>
        <th>Order</th>
    </tr>

    @foreach (var item in Model.CaseTypeGroups)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocalGroup.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalGroup.LocalUser.FirstName) @Html.DisplayFor(modelItem => item.LocalGroup.LocalUser.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
        </tr>
    }
 </table>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.CaseTypeID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
